button {
    outline: none;
    margin-right: 10px;
      &.outline {
        	color: #F65261;
          position: relative;
          z-index: 3;
          background: transparent;
          font-size: 14px;
          border-style: solid;
          border-width: 2px;
          border-radius: 4px;
          padding: 10px 40px;
          text-transform: uppercase;
          transition: all 0.2s linear;
					border-color: #F65261;
          background: transparent;
          a {
              text-decoration: none;
          }
      }
      &.outline:hover {
          color: white;
          background: #c41111;
          transition: all 0.2s linear;
      }
      &.outline:active {
          border-radius: 22px;
      }
    }