.moviesContainer{
	background-color: #232323;
	margin-top: 10px;
}

.mainMargin{
	margin: 0px 40px 0 40px;
}

.numberBolder{
	font-weight: 600;
}

.categoriesNavContainer{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer{
	background-color: #424242;
}