input{
    color: white;
    padding: 9px;
    background: rgba(50, 50, 50, 0.948044);
    height: 20px;
    mix-blend-mode: normal;
    opacity: 0.8;
    border-radius: 4px;
}

label{
    padding-top: 10px;
}