html{
	height: 100%;
}

body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	background-color: rgb(0 0 0 / 65%);
	font-family: 'Montserrat';
	color: white;
}

.logo{
	position: sticky;
	display: flex;
	justify-content: center;
	align-content: flex-end;
	line-height: 59px;
	font-size: 25px;
	z-index: 101;
	color: #F65261;
	.bold{
		font-weight: 900;
	}
}
